name: Annotation Check

on:
  push:
    branches:
    - main
  pull_request:
    branches:
    - main

jobs:
  smoketest:
    name: Smoketest
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v6

    - name: Annotation Check
      uses: ./annotation-check
